# Variable

In [6]:
name = 'Manoj'
print(name)

Manoj

In [8]:
name = input('Enter your name')
print('Welcome', name)

Enter your namemanoj
Welcome manoj

# Data types

In [20]:
integer = 1
floating = 2.0
string = 'manoj'
boolean = True

print (type(integer))
print (type(floating))
print  (type(string))
print   (type(boolean))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [22]:
a = str(1)
1 + int(str(1))

2

In [23]:
a = str(1)
1 + int(str(1))

2

# Arithmatic Operations

In [26]:
a = 2
b = 5
print ('Addition ' , a + b)
print('Subtraction  ' , a - b)
print ('Multipication ' , a * b)
print ('Division ' , a / b)

Addition  7
Subtraction   -3
Multipication  10
Division  0.4

In [29]:
Name = "manoj kanaka dh 12345"
print(name[0:4])

mano

In [33]:
numbers = '123456789'
print(numbers[1::2])

2468

In [36]:
string = 'abcd'
print(string*4)

abcdabcdabcdabcd

In [38]:
name = 'i am manoj kanaka '
print(name.upper())

I AM MANOJ KANAKA

In [41]:
name = 'i am manoj.      '
print(name.rstrip())

i am manoj.

In [42]:
num = '4#'
print(num.strip('#'))

4