<h1 style="color:Brown"> Tuples </h1>

- Tuples are an ordered sequnce of mixed data types.
- Tuples are written as comma-separated  elements within parenthesis

In [1]:
t = ("disco", 12, 4.5)
t

('disco', 12, 4.5)

In [2]:
type(t)

tuple

In [3]:
t[0][3]= 't'

TypeError: 'str' object does not support item assignment

<h3> Tuples can be defined is various ways </h3>

#### A tuple can be defined without using parenthesis

In [ ]:
sample_tuple = 1,2,3,4

print(sample_tuple)

#### single value tuple

In [ ]:
sample_tuple = 1,  
print(sample_tuple)

In [ ]:
sample_tuple = (1,)  
print(sample_tuple)

In [ ]:
sample_tuple1 = 1   #This is not a tuple

In [ ]:
sample_tuple2 = (1) # This is not a tuple

### Indexing in tuples

In [ ]:
t = ("Mumbai", 84, "Python",)

In [4]:
# gives the element at index location 1
t[1]

12

In [5]:
# gives the last element from tuple
t[-1]

4.5

### Slicing

In [6]:
# Slicing first 3 elements from t

t = ("Mumbai", 84, "Python", 5, 2, 1)

t[0:3]

('Mumbai', 84, 'Python')

In [7]:
# Slicing last 2 elements from t

t = ("Mumbai", 84, "Python", 5, 2, 1)

t[-2:]

(2, 1)

In [8]:
# no. of elements in tuple t
t = ("Mumbai", 84, "Python", 5, 2, 1)
len(t)

6

#### Cancatenating tuples

In [9]:
tup1 = ("This", "is", "Session", 2)
tup2 = ("on", "Tuples")

# Adding contents of tup2 to tup1 and storing in tup3

tup3 = tup1 + tup2

tup3

('This', 'is', 'Session', 2, 'on', 'Tuples')

#### sum() - min() - max()

In [10]:
t = (2, 4, 3, 5, 7)
sum(t)

21

In [11]:
t = (2, 4, 3, 5, 7)
min(t)

2

In [12]:
t = (2, 4, 3, 5, 7)
max(t)

7

### Immutability of tuples

In [13]:
t = ("USA", 4, 3, "Disco", 7.5)

t[3] = "Hard Rock"

TypeError: 'tuple' object does not support item assignment

In [14]:
new_t = t[0:3] + ("Hard Rock",) + t[4:]
new_t

('USA', 4, 3, 'Hard Rock', 7.5)

### Sorting a tuple

In [ ]:
t = (2,3,6,4,8,5)

sorted(t)

In [ ]:
# Nested Tuples

t = (1,5,"Disco", ("Python", "Java"))

# Access "Java" from the nested tuple
t[3][1]

In [ ]:
d = {"India" : "INR", "USA" : "Dollars", "France" : "Euros", "USA" : "USD"}
d

### Packing and Unpacking In Tuples

In [ ]:
t = (1,2,3,4)     # Packing 
(a,b,c,d) = t     # Unpacking 
print (a)

#### dir() - to view the attributes or methods of an object

In [15]:
t = ()
print(dir(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

<h1 style="color:Brown"> Lists </h1>

- Lists are an ordered sequnce of mixed data types.
- Lists are written as comma-separated  elements within square brackets

In [16]:
L = ["India", 23, 6, "Mumbai"]

L

['India', 23, 6, 'Mumbai']

In [17]:
# Nested List

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [18]:
# Indexing

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[0]

'Chemistry'

In [19]:
L[-3]

'Biology'

In [20]:
# Slicing

L[0:3]

['Chemistry', 'Biology', [1989, 2004]]

In [21]:
# List Concatanetion

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
new_L = L + [5, 8]
new_L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [22]:
# Replace "Biology" with "Physics"

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[1] = "Physics"

L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson')]

In [23]:
# extend()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [24]:
# append()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.append([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [25]:
# del Command

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
del L[0]
L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [26]:
# pop() 

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.pop()

L

['Chemistry', 'Biology', [1989, 2004]]

In [27]:
# remove()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.remove("Chemistry")

L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [28]:
# Sorting Lists

l = [32, 24, 65, 9]
l.sort()
l

[9, 24, 32, 65]

In [29]:
l.sort(reverse= True)
l

[65, 32, 24, 9]

#### Difference between sort and sorted

In [30]:
A = ["Orange", "Strawberry", "Mango"]
B = A.sort()

print(A)
print(B)

['Mango', 'Orange', 'Strawberry']
None

In [31]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)

print(A)
print(C)

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

#### Shallow Copying

In [32]:
A = ["Orange", "Strawberry", "Mango"]
B = A

A[0] = "Apple"

In [33]:
A

['Apple', 'Strawberry', 'Mango']

In [34]:
B

['Apple', 'Strawberry', 'Mango']

In [42]:
A = ["Orange", "Strawberry", "Mango"]
B = A[:]

A[0] = "Apple"

In [43]:
A

['Apple', 'Strawberry', 'Mango']

In [44]:
B

['Orange', 'Strawberry', 'Mango']

<h1 style="color:Brown"> Sets </h1>

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets does not allow duplicates

In [ ]:
l = [1,3,2,4,5,5]

set_l = set(l)

set_l

In [ ]:
len(set_l)

In [ ]:
a = {1, 2, 3, 4, 5}

a.add("India")

a

In [ ]:
a.add("India")
a

In [ ]:
a = {1, 2, 3, 4, 5, "India"}
a.remove("India")
a

In [ ]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [ ]:
print(A | B) # Union

In [ ]:
print(A & B) # Intersection

In [ ]:
print(A - B) # Difference

In [ ]:
print(A ^ B) # Symmetric Difference

<h1 style="color:Brown"> Dictionaries </h1>

- A dictionary stores element as keys and values pairs.
- The key is like an index, its is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

In [45]:
# Creating a dictionary

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

# Access value using keys

d["India"]

'INR'

In [46]:
# Replace the value for a key in a dictionary

d["India"] = "Rs"

d

{'India': 'Rs', 'USA': 'USD', 'France': 'Euros'}

In [48]:
# Insert new key value pair into a dictionary

d["Japan"] = "Yen"

d

{'India': 'Rs', 'USA': 'USD', 'France': 'Euros', 'Japan': 'Yen'}

In [49]:
# Deleting a key value pair

del d["France"]

d

{'India': 'Rs', 'USA': 'USD', 'Japan': 'Yen'}

In [50]:
# Sorting a dictionary

sorted(d)

['India', 'Japan', 'USA']

In [51]:
# Values() method

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}
d.values()

dict_values(['INR', 'USD', 'Euros'])

In [2]:
# Keys() method

d.keys()

dict_keys(['India', 'USA', 'France'])

In [3]:
# Updat() method

d.update({'India':'Rupee'})
d

{'India': 'Rupee', 'USA': 'USD', 'France': 'Euros'}