<h2 style = "color:Brown"> Relational Operators</h2>

- compares the values on either side of the opeartor and returns and boolean value as True or False.

#### equal to operator

In [1]:
10 == 10

True

<h3 style = "color:Red">Alert!!!</h3>

##### = is an assignment operator, to assign value of an expression on right to a variable on left.

In [2]:
10 == 5

False

#### not equal to operator

In [3]:
10 != 5

True

#### greater than operator

In [4]:
10 > 5

True

#### less than operator

In [5]:
10 < 5

False

#### greater than equal to operator

In [6]:
10 <= 5

False

#### less than equal to operator

In [7]:
10 >= 5

True

<h2 style = "color:Brown">Decision Making

#### Write a program to check value in variable x is even or odd

In [10]:
x = 10

if x % 2 == 0:
    print(x, "is even number")
else:
    print(x, "is odd number")

10 is even number

#### Write a program to accept age of visitor and allows him to PM's party only if he is above 60 years or below 18 years of age

In [1]:
x = int(input("Enter your age : "))

if x <= 18 or x >= 60 :
    print("Welcome to party")
else:
    print("Sorry!! you do not fit in PM's age criteria")

Enter your age : 98
Welcome to party

#### Write a program which offers various discounts on purchase bills

In [2]:
shoppinng_total = 5500

if shoppinng_total >= 5000:
    print("You won a discount voucher of flat 1000 on next purchase")
elif shoppinng_total >= 2500:
    print("You won a discount voucher of flat 500 on next purchase")
elif shoppinng_total >= 1000:
    print("You won a discount voucher of flat 100 on next purchase")    
else:
    print("OOPS!! no discount for you!!!")

You won a discount voucher of flat 1000 on next purchase

#### Write a program to accepts three numbers from user and print the largest of three numbers

In [17]:
world_cups = {2019 : ['England', 'New-Zeland'], 2015:["Australia", "New Zeland"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

year = int(input("Enter year to check India made it to Finals in 20th century : "))

if year in world_cups :
    if "India" in world_cups[year] :
        print("India made it to Finals")
    else:
        print("India could not make it to Finals")
        
else:
    print("World cup wasnt played in", year)

Enter year to check India made it to Finals: 2003
India made it to Finals

<h2 style = "color:Brown">Iteration

In [3]:
# iterate over list of integers

l = [1,3,4,2,5,6]
for i in l : 
    print(i)

1
3
4
2
5
6

In [4]:
# iterate over a string

string = "Himachal Pradesh"
for ch in string:
    print(ch)

H
i
m
a
c
h
a
l

P
r
a
d
e
s
h

In [5]:
# iterate over a string - modify print using end

string = "Himachal Pradesh"
for ch in string:
    print(ch, end = ":") # default value of end = "\n"

H:i:m:a:c:h:a:l: :P:r:a:d:e:s:h:

In [19]:
# iterating over a dictionary

students_data = {1:['Sam', 24] , 2:['Sharma',25], 3:['Saina', 26], 4:['Saif',24], 5:['Varun',27]}
for key, val in students_data.items():
    print(key, val)

1 ['Sam', 24]
2 ['Sharma', 25]
3 ['Saina', 26]
4 ['Saif', 24]
5 ['Varun', 27]

In [21]:
# iterate over keys of a dictionary
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [6]:
# Generate range of values.
range(1, 101)

range(1, 101)

In [7]:
# Iterate over range of values

for i in range(1, 101):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [11]:
# different variations in range

print(list(range(1, 100, 2))) # gives numbers from 1 to 100 with a step count of 2
range(100, 0, -1) # gives a reversed sequence of numbers from 100 to 1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

range(100, 0, -1)

In [17]:
for n in range(1, 20):
    isprime = True
    for i in range(2, 20):
        if n % i == 0:
            isprime = False
            break 
    if isprime :
        print(n)

1

In [23]:
ch = ""
while ch != "quit":
    ch = input()
    print(ch)

x
x
abc
abc
quit
quit

In [24]:
while True:
    ch = input()
    if ch == "quit":
        break
    print(ch)

x
x
c
c
quit

In [3]:
x = 0
while x <=50 :
    x += 3
    if x % 5 == 0 :
        continue   
    print(x, end = " ")

3 6 9 12 18 21 24 27 33 36 39 42 48 51

<h2 style = "color:Brown">Comprehensions

In [22]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

l2 = []

for i in l1 :
    l2.append(len(i))
    
l2

[11, 5, 4, 6, 14]

#### The Functional Approach

In [6]:
# Example on list comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a list consisting of length of each element from the above list

l2 = [len(i) for i in l1]

print(l2)

[11, 5, 4, 6, 14]

In [7]:
# iterating over l1 and l2 simultaneaously

for i,j in zip(l1,l2):
    print(i, " - ", j)

automobiles  -  11
Honda  -  5
Benz  -  4
Suzuki  -  6
Morris Garages  -  14

#### Dictionary comprehension

In [9]:
# Example on dictionary comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a dictionary consisting of element and length of each element from the above list

d = {i : len(i) for i in l1}

print(d)

{'automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garages': 14}

#### Set Comprehensions

#### Ex . Write a program which takes a word as input from user and returns vowels from the word

In [10]:
word = input("Enter a word : ")
vowels = {i for i in word if i in "aeiou"}
vowels

Enter a word : aeroplane

{'a', 'e', 'o'}

<h2 style = "color:Brown">Functions</h2>

#### Ex. Write a function which takes a value as a parameter and returns its factorial

In [23]:
def factorial(n):
    
    fact = 1
    
    for i in range(1, n+1):
        fact *= i
    
    return fact

factorial(5)

120

#### Default Argument

In [18]:
def func(name, age = 35):
    print("name : ", name)
    print("age : ", age)

In [13]:
func("Jane", 25)

name :  Jane
age :  25

In [14]:
func("Jane")

name :  Jane
age :  35

In [16]:
def func(name, age = 35, city = "Mumbai"):
    print("name : ", name)
    print("age : ", age)
    print("city : ", city)
    
func("Jane", city = "Banglore")

name :  Jane
age :  35
city :  Banglore

In [17]:
def var_func(*args):
    print(args)
    
var_func(1,3,"abc")

(1, 3, 'abc')

<h2 style = "color:Brown"> Lambda Function

In [18]:
# Write a lambda funtion to check a number is even or odd

f = lambda x: "even" if x % 2 == 0 else "odd"

f(10)

'even'

#### Ex. Write a lambda function to perform addition of two numbers

In [24]:
f = lambda x, y : x + y

f(2,5)

7

<h2 style = "color:Brown">map - filter - reduce

In [20]:
countries = ["India", "Japan", "Italy", "France"]

#### map the list to obtained the names of countries in upper case

In [24]:
list(map(lambda x : x.upper(), countries))

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

#### filter the countries names starting with "I"

In [25]:
list(filter(lambda x : x.startswith("I"), countries))

['India', 'Italy']

#### reduce the list to concatante the countries names into a single string variable seperated by " "

In [27]:
from functools import reduce

reduce(lambda x, y : x + " " + y, countries)

'India Japan Italy France'

#### Some more examples on map - filter - reduce

In [34]:
L1 = [2,4,5]
print(map(lambda x: x**2, L1))
print(list(map(lambda x: x**2, L1)))

<map object at 0x000002200C31F5C0>
[4, 16, 25]

#### Defining a function and using it in map

In [33]:
L1 = [2,4,5]
def squareit(n):
    return n**2

print(list(map(squareit, L1)))

[4, 16, 25]

#### Filter function to return the multiples of 3

In [35]:
my_list = [3,4,5,6,7,8,9]

divby3 = lambda x:  x % 3 == 0

div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

#### Ex. Write a python program to count the students above age 18

In [41]:
students_data = {1:['Sam', 15] , 2:['Sharma',18], 3:['Saina', 16], 4:['Saif',19], 5:['Varun',20]}

len(list(filter(lambda x : x[1] > 18, students_data.values())))

2

#### Reduce to return product of elements

In [31]:
from functools import reduce

q  = reduce(lambda x, y: x*y, range(1,4))

print(q)

6